@page "/usuario/crear"
@inject FrontBlazor.Services.ServicioEntidad servicioEntidad
@inject NavigationManager navigationManager

<h3>Crear Tipo de Indicador</h3>

<EditForm Model="@this" OnValidSubmit="OnSubmit">
    <div class="mb-3">
        <label>Email</label>
        <InputText class="form-control" @bind-Value="Email" />
    </div>
    
    <div class="mb-3">
        <label>Contraseña</label>
        <InputText class="form-control" @bind-Value="Contrasena" />
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    <button class="btn btn-secondary ms-2" @onclick="Volver">Cancelar</button>
</EditForm>

@if (!string.IsNullOrWhiteSpace(mensaje))
{
    <div class="alert alert-info mt-3">@mensaje</div>
}

@code {
    private string Email{ get; set; } = string.Empty;
    private string Contrasena{ get; set; } = string.Empty;
    private string? mensaje;

    private async Task OnSubmit()
    {
        var nuevoRegistro = new Dictionary<string, object>
        {
            { "email", Email },
            { "contrasena", Contrasena }
        };

        bool creado = await servicioEntidad.CrearAsync("proyecto", "usuario", nuevoRegistro);
        if (creado)
        {
            navigationManager.NavigateTo("/usuario");
        }
        else
        {
            mensaje = "Error al crear usuario.";
        }
    }

    private void Volver()
    {
        navigationManager.NavigateTo("/usuario");
    }
}
